<div class="container">
  <div class="row">
    <% data.forEach(function(item) { %>
    <div class="col-lg-4 col-md-6 mb-sm-30">
      <div class="feature-box f-boxed style-3">
        <i class="wow fadeInUp bg-color-2 i-boxed <%= item.imgClass %>"></i>
        <div class="text">
          <h4 class="wow fadeInUp"><%= item.heading %></h4>
          <p class="wow fadeInUp" data-wow-delay=".25s">
            <%= item.description %>
          </p>
        </div>
        <i class="wm <%= item.imgClass %>"></i>
      </div>
    </div>
    <% }); %>
  </div>
</div>
